h1 {
    text-align: center;
}

.bigbox {
    display:flex;
}

form, table {
    width: 100%;
    margin-top: 10px;
    position: center;
}

.box {
    margin-bottom: 10px;
    padding-top: 10px;
}

form.search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f2f2f2;
}

table {
    border-collapse: collapse;
}

td, th {
    border-right: 1px solid #dddddd;
}

th {
    background-color: #6495ED;
    color: white;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.filebox, .thing { float: left; }
.filebox label { margin-left: 10px; margin-bottom: 10px; margin-top: 2px;  display:inline-block; font-size: 17px; padding: .5em .75em; color: white; line-height: normal; vertical-align: middle; background: #6495ED; cursor: pointer; border-radius: .25em; border-left: none; } 
.filebox input[type="file"] { /* 파일 필드 숨기기 */ position: absolute; width: 5%; height: 1px; padding: 10px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.filebox input[type="submit"] { /* 파일 필드 숨기기 */ position: absolute; width: 5%; height: 1px; padding: 10px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }

.inputClass {
    display: inline-block;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
