<!doctype html>
<html lang="en" style="font-family:Arial"></html>
    <title>MLOps Serving Platform</title>
    <link rel ="stylesheet" type="text/css"  href="{{ url_for("static", filename="stylesheets/invoke_style.css") }}">
    <h1>MLOps Serving Platform</h1>
    <b>Input Data (.json)</b>
    <div class="bigbox">
    <form method=post enctype=multipart/form-data>
        <div class="thing"><input class="inputClass" id="json" placeholder="파일명 표시" type="text" name="data"></div>
        <div class="filebox"> <label for="ex_file">파일찾기</label><input type=file name=file id="ex_file" class="upload-hidden" onchange="javascript:document.getElementById('json').value=this.value.substring(12);"></div>
        <div class="filebox"><label for="ex">전송</label><input id="ex" type=submit value=전송></div>
    </form>
</div>
<div class="box">
<b>Output Data</b>
<div class="bigbox">
    <table>
    <tr><th>Input</th><th>Output</th></tr>
    {% for p in output %}
      <tr><td style = "padding: 5px;">{{ p.input }}</td><td style = "padding: 5px;">{{ p.output }}</td></tr>
    {% endfor %}
    </table>
</div>
</div>
    </html>